{% extends "birthday_hub/layout.html" %}
{% load static %}

{% block body %}

    <h2>Hello, {{ request.user.username }}.</h2>

    <a href="{% url 'birthday_hub:logout' %}">Log Out</a>

    <form action="{% url 'birthday_hub:add_birthday' %}" enctype="multipart/form-data" id="add-birthday" method="post">

        <!-- https://docs.djangoproject.com/en/5.0/ref/csrf/ -->
        {% csrf_token %}
        <div>
            {{ form.non_field_errors }}

            {% for field in form.visible_fields %}
                <div>
                    {{ field.errors }}
                    {{ field.label }}:
                    {% if field.help_text %}<div>{{ field.help_text }}</div>{% endif %}
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit">Add Birthday</button>
        </div>

    </form>

    <select id="sort-options">
        <option value="first_name-asc">First Name (A-Z)</option>
        <option value="first_name-desc">First Name (Z-A)</option>
        <option value="last_name-asc">Last Name (A-Z)</option>
        <option value="last_name-desc">Last Name (Z-A)</option>
        <option value="nickname-asc">Nickname (A-Z)</option>
        <option value="nickname-desc">Nickname (Z-A)</option>
        <option value="age-asc">Age (Youngest to Oldest)</option>
        <option value="age-desc">Age (Oldest to Youngest)</option>
        <option value="birthdate-asc">Date (Earliest to Latest)</option>
        <option value="birthdate-desc">Date (Latest to Earliest)</option>
        <option selected value="days_left-asc">Days Left to Birthday (Fewest to Most)</option>
        <option value="days_left-desc">Days Left to Birthday (Most to Fewest)</option>
    </select>

    <div id="birthdays">
        
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'birthday_hub/index.js' %}"></script>
{% endblock %}
